{{ $specUrl := .Get "specUrl" | default "" }}
{{ $redocVersion := .Get "redocVersion" | default "latest" }}
{{ $theme := .Get "theme" | default "light" }}

<style>


    #redoc-container {
      margin: 0;
      padding: 20px; /* Adjust padding as needed */
      background-color: white; /* Set the background color of the ReDoc container to white */
    }
  </style>

<div id="redoc-container"></div>

<script src="https://cdn.jsdelivr.net/npm/redoc@{{ $redocVersion }}/bundles/redoc.standalone.js"></script>
<script>
    Redoc.init('{{ $specUrl }}', {
        theme: { colors: { primary: { main: '{{ $theme }}' } } },
        scrollYOffset: '.navbar',
        hideLoading: true,
        disableSidebar: true,
        pathInMiddlePanel: true
    }, document.getElementById('redoc-container'));
</script>